<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo Practico N°1</title>
</head>
<body>
    <h1>Resolucion del Trabajo Practico N°1 Programacion Visual</h1>
    <ul>
        <li><a href="factorialNum?num=4"> 1° - Factorial</a></li>
        <li><a href="verificarBisiesto?anio=2012"> 2° ¿Es año Bisiesto?</a></li>
        <li><a href="verificarPar?num1=20&num2=9&num3=7&num4=10&num5=3"> 3° ¿Son Numeros Pares?</a></li>
        <li><a href="mesDelAño?num=1"> 4° ¿Pertenece a un mes del año?</a></li>
        <li><a href="verificarMes?num=1"> 5°¿Pertecene a un mes del año? con Switch</a></li>
        <li><a href="nota?nota=8"> 6° Verifacar nota del Alumno</a></li>
        <li><a href="">07° Punto 07 - No se resuelve</a></li>
        <li><a href="calculoMultiplos?num1=5">08° Punto 08</a></li>
        <li><a href="point09">09° Punto 09</a></li>
        <li><a href="point10">10° Punto 10</a></li>
        <li><a href="point11">11° Punto 11</a></li>
        <li><a href="point12?altura=10.0">12°</a></li>
    </ul>
</body>
</html>