<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coraite Facundo Leonel</title>
</head>
<body>
    <h1>Resolucion del Trabajo Practico N°1 Programacion Visual</h1>
    <ul>
        <li><a href="factorialNum?num=4">Punto 01: Factorial</a></li>
        <li><a href="verificarBisiesto?anio=2012">Punto 02: ¿Es año Bisiesto?</a></li>
        <li><a href="verificarPar?num1=20&num2=9&num3=7&num4=10&num5=3">Punto 03: ¿Son Numeros Pares?</a></li>
        <li><a href="mesDelAño?num=1">Punto 04: ¿Pertenece a un mes del año?</a></li>
        <li><a href="verificarMes?num=1">Punto 05: ¿Pertecene a un mes del año? con Switch</a></li>
        <li><a href="nota?nota=8">Punto 06: Verifacar nota del Alumno</a></li>
        <!-- <li><a href="">07° Punto 07 - No se resuelve</a></li> -->
        <li><a href="calculoMultiplos?num1=5">Punto 08: Multiplos de 4 menores a 100</a></li>
        <li><a href="point09">Punto 09: Bucle For</a></li>
        <li><a href="point10">Punto 10: Bucle While</a></li>
        <li><a href="point11">Punto 11: Bucle Do While</a></li>
        <li><a href="point12?altura=10.0">Punto 12: Calcular tiempo de caida</a></li>
    </ul>
</body>
</html>