<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo Practico N°1</title>
</head>
<body>
    <h1>Resolucion del Trabajo Practico N°1 Programacion Visual</h1>
    <ul>
        <li><a href="factorialNum?num=4"> 1° - Factorial</a></li>
        <li><a href="verificarBisiesto?anio=2012"> 2° ¿Es año Bisiesto?</a></li>
        <li><a href="verificarPar?num1=20&num2=9&num3=7&num4=10&num5=3"> 3° ¿Son Numeros Pares?</a></li>
        <li><a href=""> 4°</a></li>
        <li><a href=""> 5°</a></li>
        <li><a href=""> 6°</a></li>
        <li><a href=""> 7°</a></li>
        <li><a href=""> 8°</a></li>
        <li><a href=""> 9°</a></li>
        <li><a href="">10°</a></li>
        <li><a href="">11°</a></li>
        <li><a href="">12°</a></li>
    </ul>
</body>
</html>